<header class="l-header">
  <div class="c-container">
    <h1 class="l-header__title"><%- header.title %></h1>
    <p class="l-header__description"><%- header.description %></p>
    <nav class="l-header__navi">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sample.html">Sample</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- .l-header -->
