@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  /* マージンは0に */
  padding: 0;
  /* パディングも常に0に */
  box-sizing: border-box;
  /* もちろん、より直感的なbox-sizingに設定 */
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
  /* hiddenは非表示を意味します */
}

:where(html) {
  -webkit-text-size-adjust: none;
  /* iOSのランドスケープでテキストが調整されないようにする */
  color-scheme: dark light;
  /* ユーザーがダークテーマを好む場合、自動的にダークテーマになる */
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
    /* 何かにフォーカスがある場合のみスムーズスクロール */
  }
}
:where(body) {
  block-size: 100%;
  /* サファリ以外のブラウザのフォールバック */
  block-size: 100dvb;
  /* 1dvbは動的ビューポートの長さの1%、100dvbで高さいっぱいに */
  line-height: 1.5;
  /* アクセシブルな行の高さ */
  font-family: system-ui, sans-serif;
  /* timeの代わりにシステムフォントを使用 */
  -webkit-font-smoothing: antialiased;
  /* テキストのレンダリングを改善 */
}

:where(input, button, textarea, select) {
  font: inherit;
  /* フォーム コントロールは親フォントを継承 */
  color: inherit;
  /* カラーも継承 */
}

:where(textarea) {
  resize: vertical;
  /* テキストエリアの水平リサイズを無効に */
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
  /* インタラクティブなものにカーソルを合わせる */
}

:where(:disabled) {
  cursor: not-allowed;
  /* フォームコントロール無効時のカーソルを許可しない */
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
  /* ラベルにもカーソルを許可しない */
}

:where(button) {
  border-style: solid;
  /* ボタンのボーダーのスタイルを設定しやすくする */
}

:where(a) {
  text-underline-offset: 0.2ex;
  /* 下線の上にスペースを追加する */
}

:where(ul, ol) {
  list-style: none;
  /* ビュレットを削除、必要に応じて手動で追加する */
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
  /* 置換された要素をより予測可能にする */
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  /* images should never overflow past the available space */
  block-size: auto;
  /* アスペクト比を保持 */
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  /* 長い単語は改行 */
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
  /* 見出しの行の高さを減らす */
}

:where(hr) {
  /* より一貫性のある、スタイリッシュなhr */
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  /* より一貫性のある、カスタマイズ可能なフォーカスのアウトライン */
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

/* .visually-hiddenは後のカスケードレイヤーを上書きするために!importantを使用 */
:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 30px */
/* 36px */
/* 48px */
/* 60px */
/* 72px */
/* 96px */
/* 128px */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #282828;
  line-height: 1.88;
  letter-spacing: 0.05em;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #282828;
  text-decoration: none;
  transition: all 0.2s;
  opacity: 1;
}
a:hover {
  opacity: 0.6;
}
a[href^="tel:"] {
  pointer-events: none;
}
@media (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

.l-container {
  position: relative;
}

.l-contents {
  background-color: rgba(0, 0, 0, 0.05);
}
.l-footer {
  padding-top: clamp(3.125rem, 0rem + 7.8125vw, 6.25rem);
  padding-bottom: clamp(3.125rem, 0rem + 7.8125vw, 6.25rem);
  background-color: rgba(0, 0, 0, 0.1);
}

.l-header {
  padding-top: clamp(3.125rem, 0rem + 7.8125vw, 6.25rem);
  padding-bottom: clamp(3.125rem, 0rem + 7.8125vw, 6.25rem);
  background-color: rgba(0, 0, 0, 0.1);
}
.l-header__navi {
  margin-top: 40px;
}

.c-container {
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
}

.p-sample {
  padding-top: clamp(6.25rem, 0rem + 15.625vw, 12.5rem);
  padding-bottom: clamp(6.25rem, 0rem + 15.625vw, 12.5rem);
}
.p-sample__section {
  margin-top: clamp(6.25rem, 0rem + 15.625vw, 12.5rem);
}
.p-sample__section:first-of-type {
  margin-top: 0;
}
.p-sample__title {
  font-size: 2.25rem;
  margin-bottom: clamp(1.875rem, 0rem + 4.6875vw, 3.75rem);
  padding-bottom: clamp(1.875rem, 0rem + 4.6875vw, 3.75rem);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.p-sample__title span {
  font-size: 1rem;
  font-weight: normal;
}
.p-sample__code {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #ffffff;
}
.p-sample__code p {
  margin-top: 1em;
}
.p-sample__code p:first-of-type {
  margin-top: 0;
}
.p-sample__code code {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}
.p-sample__breakpoint {
  max-width: 100%;
  margin-top: 1px;
  padding: 40px;
  background-color: #ea5432;
  color: #ffffff;
  text-align: center;
}
.p-sample__breakpoint--xs {
  width: 320px;
}
.p-sample__breakpoint--sm {
  width: 640px;
}
.p-sample__breakpoint--md {
  width: 768px;
}
.p-sample__breakpoint--lg {
  width: 1024px;
}
.p-sample__breakpoint--xl {
  width: 1280px;
}
.p-sample__breakpoint--2xl {
  width: 1536px;
}
.p-sample__mediaquery {
  padding: 40px;
  background-color: #ea5432;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 1024px) {
  .p-sample__mediaquery {
    background-color: green;
  }
}
@media (max-width: 768px) {
  .p-sample__mediaquery {
    background-color: blue;
  }
}
@media (max-width: 640px) {
  .p-sample__mediaquery {
    background-color: yellow;
  }
}
.p-sample__font {
  line-height: 1;
  margin-top: 1em;
  color: rgba(0, 0, 0, 0.5);
}
.p-sample__font--xs {
  font-size: 0.75rem;
}
.p-sample__font--sm {
  font-size: 0.875rem;
}
.p-sample__font--md {
  font-size: 1rem;
}
.p-sample__font--lg {
  font-size: 1.125rem;
}
.p-sample__font--xl {
  font-size: 1.25rem;
}
.p-sample__font--2xl {
  font-size: 1.5rem;
}
.p-sample__font--3xl {
  font-size: 1.875rem;
}
.p-sample__font--4xl {
  font-size: 2.25rem;
}
.p-sample__font--5xl {
  font-size: 3rem;
}
.p-sample__font--6xl {
  font-size: 3.75rem;
}
.p-sample__font--7xl {
  font-size: 4.5rem;
}
.p-sample__font--8xl {
  font-size: 6rem;
}
.p-sample__font--9xl {
  font-size: 8rem;
}
.p-sample__font--md-xs {
  font-size: clamp(0.75rem, 0.5rem + 0.625vw, 1rem);
}
.p-sample__font--xl-md {
  font-size: clamp(1rem, 0.75rem + 0.625vw, 1.25rem);
}
.p-sample__font--2xl-xs {
  font-size: clamp(0.75rem, 0rem + 1.875vw, 1.5rem);
}
.p-sample__font--2xl-xs-xl-lg {
  font-size: clamp(0.75rem, -2.25rem + 4.6875vw, 1.5rem);
}
.p-sample__font--2xl-xs-lg-md {
  font-size: clamp(0.75rem, -1.5rem + 4.6875vw, 1.5rem);
}
.p-sample__props-width {
  width: clamp(31.25rem, 0rem + 78.125vw, 62.5rem);
  max-width: 100%;
  padding: 40px;
  background-color: #ea5432;
  color: #ffffff;
  text-align: center;
}
.p-sample__props-width span {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
}
.p-sample__props-width--xl-lg {
  width: clamp(31.25rem, -93.75rem + 195.3125vw, 62.5rem);
}
.p-sample__props-width--lg-md {
  width: clamp(31.25rem, -62.5rem + 195.3125vw, 62.5rem);
}
.p-sample__props-padding {
  width: auto;
  margin-top: clamp(1.875rem, 0rem + 4.6875vw, 3.75rem);
  padding-top: clamp(3.125rem, 0rem + 7.8125vw, 6.25rem);
  padding-bottom: clamp(3.125rem, -6.25rem + 23.4375vw, 12.5rem);
  background-color: #ea5432;
  color: #ffffff;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
