<!DOCTYPE html>
<html lang="ja">
  <%- include ('components/_head') %>
  <body class="l-body">
    <div class="l-container">
      <%- include ('components/_header', {header: data.header.sample}) %>

      <div class="l-contents">
        <div class="l-contents__header">.l-contents__header</div>
        <!-- .l-contents__header -->
        <div class="l-contents__body">.l-contents__body</div>
        <div class="c-container">
          <div class="p-sample">
            <section class="p-sample__section">
              <h2 class="p-sample__title">ブレイクポイント</h2>
              <div class="p-sample__breakpoint p-sample__breakpoint--xs">xs（320px）</div>
              <div class="p-sample__breakpoint p-sample__breakpoint--sm">sm（640px）</div>
              <div class="p-sample__breakpoint p-sample__breakpoint--md">md（768px）</div>
              <div class="p-sample__breakpoint p-sample__breakpoint--lg">lg（1024px）</div>
              <div class="p-sample__breakpoint p-sample__breakpoint--xl">xl（1280px）</div>
              <div class="p-sample__breakpoint p-sample__breakpoint--2xl">2xl（1536px）</div>
            </section>
            <section class="p-sample__section">
              <h2 class="p-sample__title">メディアクエリ</h2>
              <div class="p-sample__mediaquery">lg（1024px）:green, md（768px）:blue, sm（640px）:yellow</div>
              <div class="p-sample__code">
                <p>
                  <code>@include g.mq(lg) { background-color: green; }</code><br />
                  <code>@include g.mq(md) { background-color: blue; }</code><br />
                  <code>@include g.mq(sm) { background-color: yellow; }</code>
                </p>
              </div>
            </section>
            <section class="p-sample__section">
              <h2 class="p-sample__title">プロパティ（可変）<span>ブレイクポイント（デフォルト）</span></h2>
              <div class="p-sample__props-width">width（1000px〜500px）</div>
              <div class="p-sample__code">
                <p><code>@include g.clamp(width, 1000, 500);</code></p>
              </div>
              <div class="p-sample__props-padding">
                margin-top（60px〜30px）<br />
                padding-top（100px〜50px）<br />
                padding-bottom（200px〜50px）
              </div>
              <div class="p-sample__code">
                <p><code>@include g.clamp(margin-top, 60, 30);</code></p>
                <p><code>@include g.clamp(padding-top, 100, 50);</code></p>
                <p><code>@include g.clamp(padding-bottom, 200, 50);</code></p>
              </div>
            </section>
            <section class="p-sample__section">
              <h2 class="p-sample__title">プロパティ（可変）<span>ブレイクポイント（指定）</span></h2>
              <div class="p-sample__props-width p-sample__props-width--xl-lg">
                width（1000px〜500px）<br />
                <span>xl(1280px)〜lg（1024px）</span>
              </div>
              <div class="p-sample__code">
                <p><code>@include g.clamp(width, 1000, 500, "xl", "lg");</code></p>
              </div>
              <div class="p-sample__props-width p-sample__props-width--lg-md">
                width（1000px〜500px）<br />
                <span>lg（1024px）〜md（768px）</span>
              </div>
              <div class="p-sample__code">
                <p><code>@include g.clamp(width, 1000, 500, "lg", "md");</code></p>
              </div>
            </section>
            <section class="p-sample__section">
              <h2 class="p-sample__title">フォントサイズ（固定）</h2>
              <p class="p-sample__font p-sample__font--xs">xs（12px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--sm">sm（14px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--md">md（16px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--lg">lg（18px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--xl">xl（20px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--2xl">2xl（24px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--3xl">3xl（30px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--4xl">4xl（36px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--5xl">5xl（48px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--6xl">6xl（60px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--7xl">7xl（72px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--8xl">8xl（96px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--9xl">9xl（128px）:あのイーハトーヴォのすきとおった風</p>
              <div class="p-sample__code">
                <p><code>font-size: g.$font-size-xs;</code></p>
                <p><code>font-size: g.$font-size-sm;</code></p>
                <p><code>font-size: g.$font-size-md;</code></p>
                <p><code>font-size: g.$font-size-lg;</code></p>
                <p><code>font-size: g.$font-size-xl;</code></p>
                <p><code>font-size: g.$font-size-2xl;</code></p>
                <p><code>font-size: g.$font-size-3xl;</code></p>
                <p><code>font-size: g.$font-size-4xl;</code></p>
                <p><code>font-size: g.$font-size-5xl;</code></p>
                <p><code>font-size: g.$font-size-6xl;</code></p>
                <p><code>font-size: g.$font-size-7xl;</code></p>
                <p><code>font-size: g.$font-size-8xl;</code></p>
                <p><code>font-size: g.$font-size-9xl;</code></p>
              </div>
            </section>
            <section class="p-sample__section">
              <h2 class="p-sample__title">フォントサイズ（可変）<span>ブレイクポイント（デフォルト）</span></h2>
              <p class="p-sample__font p-sample__font--md-xs">xs（12px）〜md（16px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--xl-md">md（16px）〜xl（20px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--2xl-xs">xs（12px）〜2xl（24px）:あのイーハトーヴォのすきとおった風</p>
              <div class="p-sample__code">
                <p><code>@include g.font-clamp("md", "xs");</code> or <code>@include g.clamp(font-size, 16, 12);</code></p>
                <p><code>@include g.font-clamp("xl", "md");</code> or <code>@include g.clamp(font-size, 20, 16);</code></p>
                <p><code>@include g.font-clamp("2xl", "xs");</code> or <code>@include g.clamp(font-size, 24, 12);</code></p>
              </div>
            </section>
            <section class="p-sample__section">
              <h2 class="p-sample__title">フォントサイズ（可変）<span>ブレイクポイント（指定）</span></h2>
              <p class="p-sample__font p-sample__font--2xl-xs-xl-lg">xs（12px）〜2xl（24px）:あのイーハトーヴォのすきとおった風</p>
              <p class="p-sample__font p-sample__font--2xl-xs-lg-md">xs（12px）〜2xl（24px）:あのイーハトーヴォのすきとおった風</p>
              <div class="p-sample__code">
                <p><code>@include g.font-clamp("2xl", "xs", "xl", "lg");</code> or <code>@include g.clamp(font-size, 24, 12, "xl", "lg");</code></p>
                <p><code>@include g.font-clamp("2xl", "xs", "lg", "md");</code> or <code>@include g.clamp(font-size, 24, 12, "lg", "md");</code></p>
              </div>
            </section>
          </div>
        </div>
        <!-- .l-contents__body -->
        <div class="l-contents__footer">.l-contents__footer</div>
        <!-- .l-contents__footer -->
      </div>
      <!-- .l-contents -->

      <%- include ('components/_footer') %>
    </div>
    <!-- .l-container -->
    <%- include ('components/_scripts') %>
  </body>
</html>
